table{
   border-collapse: collapse;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
thead{
    background-color: lightsalmon;
}
tbody{
    background-color: beige;
}
tfoot{
    background-color: darkolivegreen;
}
.cell{
    background-color: white;
    color: black;
}
